@media all and (max-width: 1792px) and (min-width: 1057px) {
div .f {background-size: cover; width: 161%;height: 135%; margin-left: -26%;margin-top: -26%;}
}
@media all and (max-width: 1680px) and (min-width: 1050px){
div .b {width: 87%; margin-left: 7%;}
div .r {margin-top: -31%;height: 153%;margin-left: -21%;}
div .t {margin-top: -8%;width: 84%;}
div .vibration {margin-left: 4%;margin-top: 2%;}
div .j {width: 114%;margin-top: -16%;margin-left: -16%;height: 130%;}
div .o {width: 105%; height: 154%;margin-left: -14%;  margin-top: -30%;}
div .sh {width: 111%;margin-left: -10%;}
div .eb {width: 41%;margin-top: -5%;height: 106%;margin-left: 34%;}
div .rt {height: 141%;margin-top: -24%;width: 104%;margin-left: -15%;}
div .tr {height: 137%;margin-top: -15%;margin-left: 18%;}
div .ss {width: 80%;margin-left: 13%;}
div .drama {width: 90%;margin-left: 8%;}
div .kirill {width: 148%;}
div .bukvi {width: 208%;font-size: 20px;}
div .rating {font-size: 50px;}
div .shtrih {margin-top: -0.6%;height: 155%;}
div .biletramka1 {margin-top: 2.5%;;height: 223.8%;}
div .biletramka2 {height: 224.2%;margin-top: -36.9%;}
div .smallqvadrat4 {height: 107%;}
div .ramka1copy {height: 18.65%;}
div .qvadrat3 {height: 119.4%;}
div .qvadrat4 {margin-top: -0.5%;}
div .special {margin-left: 80%;}
div .premium {margin-left: 58%;}
div .procherksm5 {margin-left: 44.2%;}
div .smallline2 {margin-left: 48%;}
div .procherkb4 {margin-left: 69%;}
div .tariff {margin-left: 63%;}
}

@media all and (max-width: 1440px) and (min-width: 900px){
div .ramka1copy {height: 18.75%;}
div .qvadrat4 {margin-top: -0.5%;width: 102.1%;margin-left: -1%;}
div .qvadrat3 {height: 123.4%;}
div .shtrih {height: 158%;}
div .biletramka2 {height: 224.5%;margin-top: -36.6%;}
div .biletramka1 {margin-top: 2.9%;height: 224.6%;}
div .special {font-size: 8px;margin-top: -3%;}
div .ofbilet {font-size: 8px;margin-top: -9%;}
div .nazvanie {font-size: 8px;margin-top: -26%;}
div .dvad {font-size: 8px;margin-top: -4%;}
div .ss {font-size: 25px;}
div .drama {margin-left: 11%;font-size: 11px;margin-top: -4%;}
div .premier {font-size: 11px;}
div .cast {font-size: 11px;}
div .director {font-size: 11px;}
div .rate {font-size: 11px;}
div .pyat {margin-top: -18%;font-size: 20px;}
div .kirill {margin-left: 136%;margin-top: -24%;font-size: 19px;}
div .bukvi {margin-top: -33%;font-size: 17px;}
div .rating {margin-top: -13%;font-size: 42px;}
div .nol {margin-top: 26%;font-size: 8px;}
div .data {font-size: 11px;}
div .january {font-size: 11px;}
div .cena {font-size: 11px;margin-top: 20%;}
div .trik {font-size: 11px;margin-top: 9%;}
div .zal {font-size: 11px;margin-top: -26%;}
div .treti {font-size: 11px;margin-top: 10%;}
div .mesto {font-size: 11px;margin-top: 18%;}
div .eleven {font-size: 11px;}
div .tariff {font-size: 11px;margin-left: 64%;margin-top: -25%}
div .premium {font-size: 11px;margin-left: 60%;margin-top: 9%;}
div .vrema {font-size: 11px;}
div .tridcat {font-size: 11px;}
div .smallline2 {margin-top: -32%;margin-left: 47%;}
div .smallline {margin-top: -36%;}
div .procherksm5 {margin-left: 43.2%;}
div .vibration {width: 90%;height: 100%;margin-left: 9%;margin-top: 5%;background-size: cover;}
div .e {background-size: cover; width: 58%;margin-top: -1%;}
div .t {background-size: cover; width: 89%;margin-left: 5%;margin-top: -2%;}
div .r {background-size: cover; width: 115%;height: 130%;margin-left: -6%;margin-top: -11%;}
div .j {background-size: cover; width: 121%;height: 130%;margin-left: -10%;margin-top: -10%;}
div .b {background-size: cover; width: 87%;height: 75%;margin-left: 5%;margin-top: 3%;}
div .o {background-size: cover; width: 124%;height: 141%;margin-left: -10%;margin-top: -25%;}
div .sh {background-size: cover; width: 109%;height: 88%;margin-left: -2%;margin-top: 31%;}
div .tr {background-size: cover; width: 58%;margin-top: -9%;margin-left: 21%;}
div .rt {background-size: cover; width: 135%;margin-top: -24%;margin-left: -9%;}
div .y {background-size: cover; width: 84%;margin-top: 0%;margin-left: 10%;}
div .eb {background-size: cover; width: 35%;height: 88%;margin-top: -1%;margin-left: 30%;}
}

@media all and (max-width: 1366px) and (min-width: 768px){
div .corobka3 {display: none;}
div .corobka8 {display: none;}
div .corobka12 {display: none;}
div .rop {width: 33.875%;}
div .corobka1 {width: 34.875%;margin-left:33.3%;}
div .corobka2 {width: 32.3%;margin-left:68%;}
div .corobka4 {width: 50.4%;margin-left:-0.2%;margin-top: -0.2%;height: 36.3%;}
div .corobka5 {width: 50.28%;height: 36.3%;margin-top: -28%;}
div .corobka6 {width: 50.6%;height: 31.2%;margin-left: -0.3%;margin-top: -0.4%;}
div .corobka7 {width: 50.4%; height: 31.2%; margin-left:49.9%; margin-top: -24.1%;}
div .corobka9 {width: 33.875%;height: 15.6%;}
div .corobka10 {width: 34.8%;height: 15.5%;margin-left:33.4%; margin-top: -12%;}
div .corobka11 {width: 32.3%;height: 15.6%;margin-left:68%; margin-top: -12%;}
div .vibration {background-size: cover;width: 74%; margin-top: -1%;margin-left: 16%;}
div .e {background-size: cover;width: 49%; margin-top: -1%;margin-left: 26%;}
div .t {background-size: cover;width: 77%; margin-top: -4%;margin-left: 11%;}
div .f {background-size: cover;width: 92%; margin-top: -13%;margin-left: 7%;}
div .o {background-size: cover;width: 97%; margin-top: -21%;margin-left: 3%;}
div .rt {background-size: cover;width: 81%; margin-top: -14%;margin-left: 10%;}
div .y {background-size: cover;width: 54%; margin-top: -1%;margin-left: 25%;}
div .kirill {font-size: 17px;}
div .pyat {font-size: 17px;}
div .bukvi {font-size: 15px;margin-top: -38%;}
div .ramka1 {height: 88.3%;}
div .biletramka1 {margin-top: 2%;height: 228%;}
div .biletramka2 {height: 226.9%;margin-top: -36.6%;}
div .shtrih {height: 166%;margin-top: -0.3%;}
div .data {font-size: 10px;}
div .january {font-size: 10px;}
div .cena {font-size: 10px;}
div .trik {font-size: 10px;}
div .zal {font-size: 10px;}
div .treti {font-size: 10px;}
div .mesto {font-size: 10px;}
div .eleven {font-size: 10px;}
div .tariff {font-size: 10px;}
div .premium {font-size: 10px;}
div .vrema {font-size: 10px;}
div .tridcat {font-size: 10px;}
div .smallline {margin-left: 50%;}
div .procherksm2 {margin-left: 46.5%;}
div .procherkb3 {margin-top: -3.3%;}
div .procherkb {margin-top: -3.3%;}
div .procherkb2 {margin-top: -36.3%;}
div .procherkb4 {margin-top: -3.3%;}
div .ss {margin-left: 11%;}
div .drama {margin-left: 9%;}
}
